:root {
	--ion-color-background: #21e84c;
	--ion-color-background-rgb: 33,232,76;
	--ion-color-background-contrast: #000000;
	--ion-color-background-contrast-rgb: 0,0,0;
	--ion-color-background-shade: #1dcc43;
	--ion-color-background-tint: #37ea5e;
}

.ion-color-background {
	--ion-color-base: var(--ion-color-background);
	--ion-color-base-rgb: var(--ion-color-background-rgb);
	--ion-color-contrast: var(--ion-color-background-contrast);
	--ion-color-contrast-rgb: var(--ion-color-background-contrast-rgb);
	--ion-color-shade: var(--ion-color-background-shade);
	--ion-color-tint: var(--ion-color-background-tint);
}